language: python
python:
  - "3.6"
os: linux
dist: trusty
before_install:
  # Install miniconda3
  - sudo apt-get update
  - sudo apt-get install build-essential
  - sudo apt-get autoremove -y
  - sudo apt-get clean
  - wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh;
    bash Miniconda3-latest-Linux-x86_64.sh -b;
    export PATH="$HOME/miniconda3/bin:$PATH";
    rm Miniconda3-latest-Linux-x86_64.sh;
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
install:
  # Create test environment with neurowriter dependencies
  - conda create -q -n test-environment python=3.6
  - source activate test-environment
  - make python-deps
  - pip install coveralls
script:
  - source activate test-environment && make tests
after_success:
- coveralls